homeassistant:
  name: Home
  latitude: !secret latitude
  longitude: !secret longitude
  elevation: 94
  unit_system: metric
  time_zone: !secret timezone
  customize: !include customize.yaml
  packages: !include_dir_named packages


frontend:       # Enables the frontend
  javascript_version: latest
updater:        # Optional, allows Home Assistant developers to focus on popular components.
discovery:      # Discover some devices automatically
conversation:   # Allows you to issue voice commands from the frontend in enabled browsers
logbook:
map:
sun:
config:
http:

panel_iframe:
  grafana:
    title: 'Grafana'
    url: !secret grafana_url


# Stole too much power from devices
#device_tracker:
#  - platform: icloud
#    username: !secret icloud_user
#    password: !secret icloud_pass
#    account_name: !secret account_name
#    max_interval: 20

switch:
  - platform: wake_on_lan
    mac_address: 4C-CC-6A-4E-70-02
    
input_number:
  alarm_clock_hour:
    name: Time
    icon: mdi:timer
    initial: 6
    min: 0
    max: 23
    step: 1
  alarm_clock_minute:
    name: Minutt
    icon: mdi:timer
    initial: 30
    min: 0
    max: 55
    step: 5
  alarm_clock_fade_in_minutes:
    name: Myk oppvåkning
    icon: mdi:gradient
    initial: 15
    min: 0
    max: 30
    step: 5   

# Telegram
telegram_bot:
  - platform: polling
    api_key: !secret telegram_api_key
    allowed_chat_ids:
      - !secret telegram_chat_ids
notify:
  - platform: telegram
    name: telegram
    chat_id: !secret telegram_chat_ids

# Text to speech
tts:
  - platform: google
    language: 'no'

#WIFI LED
light:
  - platform: flux_led
    automatic_add: True
    
  - platform: group
    name: Gulvlampe
    entities:
      - light.hue_white_lamp_1
      - light.hue_white_lamp_2
      - light.hue_white_lamp_3
        
#MQTT
mqtt:
  broker: 192.168.1.63
  
# Z-Wave
zwave:
  usb_path: /dev/ttyACM0
  
#Xiaomi Vacuum
vacuum:
  - platform: xiaomi_miio
    host: 192.168.1.64
    token: !secret xiaomi_token

#Kamera
camera:
  - platform: mjpeg
    name: Kamera
    mjpeg_url: !secret cam1_id
    username: admin
    password: !secret camera_pass

  - platform: generic
    name: Vær
    still_image_url: https://www.yr.no/sted/Norge/Hordaland/Bergen/Bergen/meteogram.svg
    content_type: 'image/svg+xml'


#Hue
hue:
  bridges:
    - host: 192.168.1.38
    
#TV
media_player:
  - platform: webostv
    host: 192.168.1.48
    name: TV
    timeout: 5
    filename: webostv.config
    sources:
      - 'Apple TV'

#Database
recorder:
    purge_keep_days: 10

#Homekit
homekit:
  pincode: !secret homekit_pincode
  
  
#Includes
group: !include_dir_merge_named group
scene: !include scenes.yaml
automation: !include_dir_merge_list automation
script: !include_dir_merge_named script
sensor: !include_dir_merge_list sensor
input_boolean: !include_dir_merge_named input_boolean
